/m10_timer_life_cycle/local.properties
/m11_timer_data_storage/local.properties
/m12_mvvm/local.properties
/m14_retrofit/local.properties
/m15_room/local.properties
/m16_architecture/local.properties
/m17_recyclerview/local.properties
/m18_permissions/local.properties
